* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.manifest text eol=lf
CMakeLists.txt text eol=lf

"tests/gaming test sample vd.mp4" filter=lfs diff=lfs merge=lfs -text
